.container{
    width: 98%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.301);
}
.head h3{
    margin: 2rem 1rem;
}
.sub-container{
    width: 98%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 1rem 0;
}
.menu-bar{
    display: inline-block
}
.menu-bar div h3{
    margin: 0;
}
.group{
    display: inline-block;
    position: absolute;
    right: 0;
}
.card-groups{
    width: 270px;
    height: 120px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.301);


}
.page-groups{
     margin-top: 1rem;
}